<html>
<head>
  <meta charset="UTF-8" />
  <meta title="JPOSTCODE API" />
</head>
<body>
  <h1>
  JPOSTCODE API
  </h1>

  <div>
    <h2>
    usage
    </h2>

    <p>endpoint</p>
    <pre>
    <a href="https://jpostcode-api.appspot.com/find/1000001">https://jpostcode-api.appspot.com/find/1000001</a>
    </pre>

    <p>response</p>
    <pre>
    {
      "prefecture": "東京都",
      "prefecture_kana": "トウキョウト",
      "prefecture_code": 13,
      "city": "千代田区",
      "city_kana": "チヨダク",
      "town": "千代田",
      "town_kana": "チヨダ",
      "office_name": null,
      "office_name_kana": null,
      "zip_code": "1000001"
    }
    </pre>
  </div>

  <div>
    <footer>
      copyright 2019 @tknzk
    </footer>
  </div>

</body>
</html>
